.ractive-slider-wrapper {
    overflow: hidden;
    position: relative;
}

.ractive-slider-container {
    position: absolute;
    left: 0;
}

.ractive-slider-item {
    display: inline-block;
}

.ractive-slider-pagination {
    text-align: center;
}

.ractive-slider-pagination a {
    margin: 0 6px;
}

.ractive-slider-pagination .current {
    color: red;
}